/* 
Links importantes:
    - Obtener colores de las imágenes: https://imagecolorpicker.com/es
    - Convertir una imagen en ícono: https://imagen.online-convert.com/es/convertir-a-ico
    - Íconos: https://www.flaticon.es/resultados?word=vision&order_by=4&type=icon
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #151807;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

header{
    width: 100%;
    height: 80px;
    align-items: center;
}

header .header-principal-container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: #ffffff;
}

header .header-principal-container .header-logo{
    border-radius: 50%;
    height: 50px;
}

header .header-principal-container nav .header-nav{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

header .header-principal-container .header-whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7abce0;
    border-radius: 10px;
    padding: 8px;
}

header .header-principal-container .header-whatsapp #header-icono-wpp{
    width: 20px;
    padding-left: 20px;
}

/*
AQUÍ COMIENZA EL CSS DEL MAIN - CONTENEDOR PRINCIPAL
*/

main .main-banner img{
    width: 100%;
    height: 630px;
}

main .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .main-container img{
    width: 40%;
    margin: 100px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.479);   
}

main .main-container .main-div-texto-container h2{
    margin-bottom: 30px;
    margin-right: 100px;
    text-align: center;
}

main .main-container .main-div-texto-container p{
    margin-right: 100px;
    font-size: 18px;
    text-align: center;
}

main .main-left-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #cae7dd;
}

main .main-left-section-logo {
    width: 100%;
    height: 400px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    /*background-image: url('./Imagenes/der.jpg');*/
    background-color: white;
}

main .main-left-section img{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
}

main .main-left-section div {
    text-align: center;
    width: 100%;
}

main .main-left-section div p{
    margin: 100px;
    font-size: 20px;
}

main .main-right-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e3ebe8;
}

main .main-right-section-logo {
    width: 100%;
    height: 400px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    /*
    background-image: url('./Imagenes/der.jpg');*/
    background-color: white;
}

main .main-right-section img{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
}

main .main-right-section div{
    text-align: center;
    width: 100%;
}

main .main-right-section div p{
    margin: 100px;
    font-size: 20px;
}

/*
AQUÍ COMIENZA EL CSS DEL MAIN DE SERVICIOS
*/

.servicios-container-principal {
    width: auto;
}

.servicios-container-principal .div-texto-servicios{
    margin-bottom: 50px;
    margin-top: 100px;
    text-align: center;
    font-size: 40x;
}

.servicios-container-principal table .tabla-fila td{
    border: 1px solid gray;
}

.servicios-container-principal table .tabla-fila td{
    width: 500px;
    height: 600px;
    text-align: center;
}

.servicios-container-principal table .tabla-fila img{
    width: 15%;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
}
/*
.servicios-container-principal table .tabla-fila #odontologia:hover{
    background-image: url('./Imagenes/Odontologia-gral-1.jpg');
    opacity: 0.6;
    width: auto;
}

.servicios-container-principal table .tabla-fila #ortodoncia:hover{
    background-image: url('./Imagenes/odontopediatria.png');
    opacity: 0.6;
    width: 500px;
    height: 300px;
}
*/



